:root {
  --colorOne: turquoise
  --colorTwo:white;
  --colorThree: #f7ea5c;    
  --colorFour: #e9ba54;
--colorFive: #ea3137;
}
 
 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
    background-color: inherit;
    cursor: pointer;
    padding: 1em;
    width: 60%;
    text-align: center;
    border: none;
    border-radius: 2em;
    margin: 2em;
    outline: none;
    transition: 0.4s;
    font-size: 2rem;
    font-weight: 900;
    margin: 0.5rem;
    border: 3px solid transparent;

  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {

    border: 3px solid white;
    color: white;
    background-color:var(--colorFive);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }