:root {
  --color-one: #47E5BC;
  --color-two: #E6AF2E;
  --color-three: #F24236;    
  --color-four: #190B28;
  --color-five: #685762;
}

.zkAbout {
  background: url("../img/profileZk.jpeg"); 
  /* background-size:cover; */
	height: 100vh;
  background-position-x: center;
	background-position-y: center; 
}
 
 .zkLink:hover{ 
  color: var(--color-one);
}
.footerZk{
  background-color:var(--color-one);
  color: var(--color-two);

}

.ninjaAbout {
  background: url("../img/profileNinja.jpeg"); 
  background-size:cover;
  height: 100vh;
  background-position: center; 
}
.ninjaLink:hover{
  color: var(--color-two);

}
.footerNinja{
  background-color: var(--color-two);
  color: var(--color-three);
}
.felipeAbout {  
  background: url("../img/profileFelipe.jpeg"); 
  background-size:cover;
  height: 100vh;
  background-position: center; 
}
.felipeLink:hover{
  color: var(--color-three);
}
.footerFelipe{
  background-color:var(--color-three);
  color: var(--color-one);
}
.barbaraAbout {
  background:url("../img/profileBarbara.png");
  background-size: cover;
  height: 100vh;
  background-position:center;
}
.footerBarbara{
  background-color: var(--color-one);
  color: var(--color-two);
}

#owt {
  opacity:40%;
  color: white;
  font-size: 32vw;
  font-weight: 700;
}

.tattooer {
    background: var(--color-one);
	  height: auto;   
}
.container{
  display: flex;
  flex-direction:column;
	text-align:center;
}
.imgContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  border-radius: 10px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  justify-content: center;
}
.imgContainer img {
	margin: 2vw;
	width: 20vw;
	border: 3px solid white;
  border-radius: 2em;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beauty {
  background-color: var(--color-two);
  height: auto;
}

@media(max-width:550px) {
    #navBar ul{
        margin-left:2rem;
        margin-right:2rem;
        color:var(--color-two);
        display: flex;
        justify-content: space-between;
        list-style:none; 
        font-weight: 700;
        font-size:10px;
    }
    .imgContainer img{
      width: 70%;
      
    }
}