@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --colorOne:#53a5a8;
    --colorTwo:white;
    --colorThree: #f7ea5c;
    --colorFour: #e9ba54;
    --colorFive: #ea3137;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

body{
  font-family: 'Montserrat', sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1); /* White background with little opacity */
}

header nav {
  margin: 20px;
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  display: flex;
  z-index: 2;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.33em;
  font-weight: 900;
  position: fixed;
  align-content: center;
  width: 100%;
  margin: 20px;
  margin-left:2rem;
  margin-right:2rem;
}

header nav ul li {
  list-style: none;
  display: inline-block;
}

 nav ul li a {
  color:var(--colorFive);
 }

 nav li a:hover {
    background-color:rgba(128, 128, 128, 0.5);
    border-radius: 10px;
 }
 .buttonContainer{
   display: flex;
   align-items:center;
   margin-top: 10%;
 }
 .instaContainer{
  
  margin-left:70vw;
  z-index: 1003;
 }



 main {
  display: flex;
  flex-direction: column;
 }

.bannerContainer {
    background: url("./img/lojaFrente.jpeg");
    background-size: cover;
    padding-top: 2rem;
    height: 150vh;
  }

  .lettersContainer{
    margin-top:auto;
    margin-bottom:auto;
  }
  .addressContainer{
    text-align:center;
  }
  .addressContainer h1{
    font-size:78px;
  }
  .addressContainer p{
    margin-top:5%;
    margin-bottom:5%;
  }

.lettersContainer{
  display: flex;
  padding: 1em;
  position:relative;
  opacity:40%;
  color:var(--colorTwo);
  font-size: 20vw;
  font-weight: 700;
  align-content: center;
  justify-content: center;
}
.instagramContainer {
  position: relative;
  font-size: 20px;
  background: var(--colorOne);
  color: var(--colorTwo);
  height: 100vh;
  
}

.portfolio {}

.mapContainer {
  background: url("./img/tattooBolo.jpeg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; Parallax Effect for DIV 3 */
  min-height: 600px;
  height: 100vh;
}

.newslettercontainer {
  position: relative;
}

#newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900vh;
  background-color: var(--colorFive);
  color: var(--colorTwo);
}

.newslettercontainer > form > input {
  width: 400px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  background-color: var(--colorOne);
  color: var(--colorTwo);
  height: 10vh;
}

a{
  text-decoration: none;
  color:var(--colorTwo);
  cursor:pointer;
}

  @media screen and (max-width: 768px) {
    .parallax-item h2 {
      font-size: 1.5rem;
    }
  }

@media(max-width:550px) {
    #navBar ul{
        margin-left:2rem;
        margin-right:2rem;
        color:var(--colorTwo);
        display: flex;
        justify-content: space-between;
        list-style:none; 
        font-weight: 700;
        font-size:10px;
    }
}